body {
    text-align: center;
    margin: 0;
    color: #2B66C9;
}

.column {
    width: 100%;
    height: 49%;
}

.active_back {
    background-color: #2B66C9;
    opacity: 0.95;
    color: white;
}

.active_back a {
    color: white;
}

a {
    color: #2B66C9;
}

h1 {
    font-size: 36px;
    padding-top: 20px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    display: block;
    margin: 1vh;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.header_menu {
    padding: 0;
}

.header_menu > li {
    display: inline-block;
}
