body {
    text-align: center;
    margin: 0;
    color: #2B66C9;
}

.column {
    width: 100%;
    min-height: 50%;
}

.active_back {
    background-color: #2B66C9;
    opacity: 0.95;
    color: white;
    background-size: cover;
}

.active_back a {
    color: white;
}

a {
    color: #2B66C9;
}

h1 {
    font-size: 44px;
    margin: 0px;
}

h2, h3 {
    margin: 0px;
}

ul {
    padding: 0;
    margin: 0 auto;
}

li {
    list-style-type: none;
    display: block;
}

.list_item li {
    margin: 5px 10px 0;
    padding-bottom: 5px;
    border-bottom: solid 1px darkgray;
}

.list_item li .link_title {
    margin-bottom: 5px;
}

.grayout {
    color: white;
    background-color: darkgray;
}

.list_item li .grayout {
    margin-right: 5px;
    padding: 3px;
    font-size: 12px;
}

.list_item .detail {
    font-size: 12px;
}

.detail span{
    margin: 0px;
}

.history {
    margin: 0 2vh;
    padding-bottom: 1vh;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.link_more {
    margin: 5px 5px 0 0;
    padding-bottom: 5px;
}

.flip-list-move {
    transition: transform 1s;
}

#profileAccounts {
    border-bottom: solid 3px #2B66C9;
}

.header_menu li {
    display: inline-table;
    width: 17vh;
}

@media all and (min-width: 500px) and (min-height: 500px) {
    .wrapper {
        display: flex;
    }

    .column {
        min-height: 50vh;
    }

    .column > .row {
       margin-top: 1vh;
    }

    li.hide_wide { 
        display: none;
    }

    #profileAccounts {
        border-bottom: none;
    }
}
