body {
    text-align: center;
    margin: 0;
}

.column {
    width: 100%;
    min-height: 100vh;
}

.column > .row {
    height: 40vh;
}

.active_back {
    background-color: #2B66C9;
    opacity: 0.95;
    color: white;
    background-size: cover;
}

ul {
    width: 100wh;
    padding: 0;
    margin: 0 auto;
}

li {
    list-style-type: none;
    display: block;
}

.header_menu li {
    display: inline-block;
    width: 50vh;
}

.header_menu li a,
.list_item li a {
    color: #2B66C9;
    font-size: 22px;
}

.list_item {
    text-align: left;
}

.list_item li {
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px darkgray;
}

.grayout {
    color: white;
    background-color: darkgray;
}

.list_item li .grayout {
    margin-right: 10px;
    padding: 3px;
}

.date {
    text-align: right;
}

.section_title {
    font-size: 44px;
}

.text_left {
    text-align: left;
    margin: 0 8px 0;
}

@media all and (min-width: 500px) {
    .wrapper {
        display: flex;
    }

    .section_sub_title {
        font-size: 24px;
    }

    .text_left {
        margin: 70px;
    }
}
