<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="SRAU Factory Official Site"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SRAU Factory Official Site</title>
        <link href="css/index.css" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112748346-1"></script>
        <script type="text/javascript">
window.dataLayer = window.dataLayer || [];
function gtag(){
    dataLayer.push(arguments);
};
gtag('js', new Date());
gtag('config', 'UA-112748346-1');
        </script>
    </head>
    <body>
        <section class="wrapper">
            <div id="top" class="active_back column">
                <h1>SRAU Factory</h1>
                <h2>Freelancer / Programmer / Remote worker / Nomad worker</h2>
                <ul class="header_menu">
                    <li class="hide_wide">
                        <a href="#profileAccounts">Profile</a>
                    </li>
                    <li class="hide_wide">
                        <a href="#profileAccounts">Accounts</a>
                    </li>
                    <li class="hide_wide">
                        <a href="#profileAccounts">Services</a>
                    </li>
                    <li class="hide_wide">
                        <a href="#profileAccounts">Records</a>
                    </li>
                    <li>
                        <a href="#knowledges">Knowledges</a>
                    </li>
                    <li>
                        <a href="#repositores">Repositories</a>
                    </li>
                </ul>
            </div>
            </div>

            <div id="profileAccounts" class="column">
                <div id="profile" class="row">
                    <h2>Profile</h2>
                    <ul class="text_left profile">
                        <li>2014年12月: 開業。企業常駐の案件を中心に活動</li>
                        <li>2016年 1月: リモートワークを中心とした活動を開始</li>
                        <li>2017年 7月: 株式会社クラウドワークス社よりプロクラウドワーカー認定（現在継続中）</li>
                        <li>2018年 1月: 当サイト開設</li>
                    </ul>
                </div>

                <div id="accounts" class="row">
                    <h2>Accounts</h2>
                    <ul class="header_menu">
                        <li>
                            <a href="https://qiitadon.com/@sraufactory" target="_blank">Mastodon/Qiitadon</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/SRAUFactory" target="_blank">Twitter</a>
                        </li>
                        <li>
                            <a href="https://crowdworks.jp/public/employees/741010" target="_blank">CrowdWorks</a>
                        </li>
                        <li>
                            <a href="https://service.visasq.com/users/5868210781945856" target="_blank">ビザスク</a>
                        </li>
                    </ul>
                </div>

                <div id="services" class="row">
                    <h2>Services</h2>
                    <ul class="header_menu">
                        <li>
                            <a href="https://sraufactory.github.io/web-data-editor/" target="_blank">Web Data Editor</a>
                        </li>
                    </ul>
                </div>

                <div id="records" class="row">
                    <h2>Records</h2>
                    <ul class="header_menu">
                        <li>
                            <a href="https://crowdworks.jp/public/employees/741010/contracts" target="_blank">CrowdWorks</a>
                        </li>
                        <li>
                            <a href="https://crowdworks.jp/public/employees/741010/resumes" target="_blank">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="knowledgesRepositores" class="wrapper">
            <div id="knowledges" class="column"> 
                <h2>{{knowledges.length}} knowledges</h2>
                <transition-group name="flip-list" tag="ul" class="list_item text_left">
                    <li v-for="(knowledge, index) in knowledges" v-if="index < 5" v-bind:key="knowledge.Id">
                        <div class="link_title"><a :href="knowledge.Url" target="_blank">{{knowledge.Title}}</a></div>
                        <div><span class="grayout detail" v-for="tag in knowledge.Tags">{{tag.Name}}</span></div>
                        <div class="text_right detail">
                            <span>いいね: {{knowledge.likes_count}}</span>
                            <span>コメント: {{knowledge.comments_count}}</span>
                            <span>{{knowledge.created_at | formatDate}}</span>
                        </div>
                    </li>
                </transition-group>
                <div class="link_more text_right">
                    <a href="https://qiita.com/SRAUFactory" target="_blank">more</a>
                </div>
            </div>

            <div id="repositores" class="active_back column">
                <h2>{{repositories.length}} repositories</h2>
                <transition-group name="flip-list" tag="ul" class="list_item text_left">
                    <li v-for="(repository, index) in repositories" v-if="index < 5" v-bind:key="repository.name">
                        <div class="link_title"><a :href="repository.html_url" target="_blank">{{repository.name}}</a></div>
                        <div><span class="grayout detail" v-if="repository.language">{{repository.language}}</span><br></div>
                        <div class="text_right detail">
                            <span>Watch: {{repository.watchers_count}}</span>
                            <span>Star: {{repository.stargazers_count}}</span>
                            <span>Fork: {{repository.forks_count}}</span>
                            <span>Issues: {{repository.open_issues_count}}</span>
                            <span class="hide_normal">{{repository.pushed_at | formatDate}}</span>
                        </div>
                        <div class="text_right detail hide_wide">
                            <span >{{repository.pushed_at | formatDate}}</span>
                        </div>
                    </li>
                </transition-group>
                <div class="link_more text_right">
                    <a href="https://github.com/SRAUFactory?tab=repositories" target="_blank">more</a>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="js/smoothscroll.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
